*{
    margin: 0;
}

#title{
    background-color: blueviolet;
    padding: 10px;
}

h1{
    text-align: center;

}

img{
    border-radius: 50%;
    float:right;
    height: 100px;
    width:100px;
    margin-left: 10px;
   
}

#logo{
    height: 800px;
    width: 500px;
    background-color: aquamarine;
   
}